

<button class="btn btn-primary" id="gameStart" type="submit">Start</button>

<img id="playerPortrait" class="portraitField"><img id="opponentPortrait" class="portraitField">

<br><br>

<div id="buttonField"></div>