<form action="characterCreateSubmit" method="POST">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Character Name:</span>
        </div>
        <input id="name" type="text" class="form-control" aria-label="Character Name"
            aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Character Gif Link:</span>
        </div>
        <input id="pic" type="text" class="form-control" aria-label="Character Gif Link"
            aria-describedby="inputGroup-sizing-default">
    </div>
    <select class="charCreate" id="chosenStrongAttribute" multiple="true"
        data-placeholder="Select Up to Two Specialties" style="width:200px;">
        <option id="chosenStrongAttack" value="strongAttack">Attack</option>
        <option id="chosenStrongDefense" value="strongDefense">Defense</option>
        <option id="chosenStrongAgility" value="strongAgility">Agility</option>
        <option id="chosenStrongVigor" value="strongVigor">Vigor</option>
    </select>
    <select class="charCreate" id="chosenWeakAttribute" multiple="true" data-placeholder="Select Weaknesses"
        style="width:200px;">
        <option id="chosenWeakAttack" value="weakAttack">Attack</option>
        <option id="chosenWeakDefense" value="weakDefense">Defense</option>
        <option id="chosenWeakAgility" value="weakAgility">Agility</option>
        <option id="chosenWeakVigor" value="weakVigor">Vigor</option>
    </select>
    <select class="charCreate items" id="chosenWeapon" data-placeholder="Select Your Weapon" style="width:200px;">
        <option id="chosenNullWeapon" value="0"></option>
        <option class="weapons" id="chosenSword" value="sword">Sword</option>
        <option class="weapons" id="chosenSpear" value="spear">Spear</option>
        <option class="weapons" id="chosenBow" value="bow">Bow</option>
        <option class="weapons" id="chosenAxe" value="axe">Axe</option>
    </select>
    <select class="charCreate items" id="chosenAccessory" data-placeholder="Select Your Accessory" style="width:200px;">
        <option id="chosenNullAccessory" value="00"></option>
        <option class="accessories" id="chosenGauntlet" value="gauntlet">Gauntlet</option>
        <option class="accessories" id="chosenShield" value="shield">Shield</option>
        <option class="accessories" id="chosenRing" value="ring">Ring</option>
        <option class="accessories" id="chosenAmulet" value="amulet">Amulet</option>
    </select>
    <br><br>

    <div class="card">
        <div class="card-header">
            <h3><strong>Character Statistics</strong></h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-2">
                    <div id="attackTitle">Attack:</div>
                </div>

                <div class="form-group col-md-1">
                    <div id="attackDisplay" name="attack">3</div>
                </div>

                <div class="form-group col-md-2">
                    <div id="defenseTitle" name="defense">Defense:</div>
                </div>

                <div class="form-group col-md-1">
                    <div id="defenseDisplay">3</div>
                </div>

                <div class="form-group col-md-2">
                    <div id="vigorTitle" name="vigor">Vigor:</div>
                </div>

                <div class="form-group col-md-1">
                    <div id="vigorDisplay">3</div>
                </div>

                <div class="form-group col-md-2">
                    <div id="agilityTitle">Agility:</div>
                </div>

                <div class="form-group col-md-1">
                    <div id="agilityDisplay" name="agility">3</div>
                </div>
                
            </div> 
            
        </div>

        <button class="btn btn-primary" id="submit" type="submit">Create Character</button>
</form>
<br><br>